.card-capture-block {
    width: 65%;
    background-color: #252525;
    border-radius: 8px;
    border: 1px solid #333;
}

.line-label {
    font-size: 0.8em;
    color: var(--subtext-grey);
    width: 100%;
}

    .line-label.dashed-border {
        margin-top: 2rem;
        padding-top: 9px;
        border-top: 1px dashed;
    }

pre.line-text {
    color: #aaa; /* darker gray for non-span text */
    padding: 1rem;
    cursor: default;
    line-height: 4em;
    margin-bottom: 1rem;
}

    /* Override color for span children only */
    pre.line-text span {
        color: #d4d4d4;
    }


/* The flash animation */
@keyframes flash-highlight-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0);
        background-color: rgba(255, 255, 255, 0);
    }

    15% {
        box-shadow: 0 0 0 4px rgba(64, 158, 255, 0.6); /* Adjust color to your theme */
        background-color: rgba(64, 158, 255, 0.1);
    }

    100% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0);
        background-color: rgba(255, 255, 255, 0);
    }
}

.flash-highlight {
    animation: flash-highlight-animation 2.0s ease-out;
    border-radius: 4px; /* Matches the visual "pop" */
}