.nested-underline {
    border-bottom-width: var(--underline-width);
    border-bottom-style: solid;
    border-bottom-color: var(--color);
    padding-bottom: 2px; /* Base padding */
}

.prop-capture-overline {
    border-top: 2px solid;
    border-top-color: var(--color);
    margin-top: -2px;
}

    .prop-capture-overline.dashed-line {
        border-top-style: dashed;
    }

    .prop-capture-overline.dotted-line {
        border-top-style: dotted;
    }

.twig {
    /* Styles for text that is part of a parent capture but not a child capture */
    color: #bdbdbd;
}

.nested-underline.highlight-active {
    border-bottom-color: var(--highlight-color);
}

.nested-underline.mute-active {
    border-bottom-color: var(--lowlight-color);
}
