.pre-container {
    position: relative;
    margin: 0 12px;
}

    .pre-container:hover pre {
        background-color: #181818;
    }

.copy-prompt {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    color: #888888;
    font-size: 13px;
    z-index: 10;
    cursor: copy;
    opacity: 0;
    transition: opacity var(--transition-time), color var(--transition-time);
}

.pre-container:hover .copy-prompt {
    opacity: 1;
}

.copy-prompt:hover {
    color: #bbbbbb;
}

.copy-prompt.copied {
    color: #2a9d8f;
    opacity: 1;
}

