@inject AggregateCardAnalysis Analysis

@foreach (var part in Leaf.Parts)
{
    @switch (part)
    {
        case NonPropertyTokenLeafPart plainTextPart:
            @plainTextPart.Text
            break;

        case PropertyCaptureTokenLeafPart propCapturePart:
            var propColor = Analysis.PropertyCaptureColors[propCapturePart.PropertyIndex % Analysis.PropertyCaptureColors.Count];
            <span class=@GetClass()
            style=@GetStyle(propCapturePart)
            data-capture-ids="@AllCaptureIds"
            data-property-name=@GetDataPropertyName(propCapturePart)>
                @propCapturePart.Text
            </span>
            break;
    }
}

@code {
    [Parameter, EditorRequired]
    public TokenSegmentLeaf Leaf { get; set; } = default!;

    [Parameter, EditorRequired]
    public PositionalToken ImmediateParentToken { get; set; } = default!;

    [Parameter, EditorRequired]
    public string AllCaptureIds { get; set; } = default!;

    string GetClass() => $"prop-capture{(Leaf.IsComplexToken ? " complex" : "")}";

    string GetStyle(PropertyCaptureTokenLeafPart propCapturePart)
    {
        var style = $"--prop-color: {GetPropColor(propCapturePart)}; ";

        //A wee harmless hack to ensure the overline highlights at the same lower Y coord as the closest underline
        var paddingBottom = 8 + (ImmediateParentToken.NestedDepth * 4);

        style += $"padding-bottom: {paddingBottom}px;";

        return style;
    }

    string GetDataPropertyName(PropertyCaptureTokenLeafPart propCapturePart)
    {

        // Highlight all properties in the complex type by keying on the parent's CaptureId
        if (Leaf.IsComplexToken)
            return ImmediateParentToken.CaptureId;

        // Highlight only the relevant property row
        return propCapturePart.Property.Name;
    }

    string GetPropColor(PropertyCaptureTokenLeafPart propCapturePart)
    {
        // Make the overline match the coloer of the parent token type
        if (Leaf.IsComplexToken)
            return Analysis.TypeColors[ImmediateParentToken.Token.Type];

        // Get a positional color
        return Analysis.PropertyCaptureColors[propCapturePart.PropertyIndex % Analysis.PropertyCaptureColors.Count];
    }

}