@inject AggregateCardAnalysis Analysis

@foreach (var part in Leaf.Parts)
{
    @switch (part)
    {
        case PlainTextPart plainTextPart:
            @plainTextPart.Text
            break;

        case PropertyCapturePart propCapturePart:
            var propColor = Analysis.PropertyCaptureColors[propCapturePart.PropertyIndex % Analysis.PropertyCaptureColors.Count];

            var propertyName = propCapturePart.Property.Prop.Name;

            <span class="prop-capture"
                  style=@($"--prop-color: {propColor};")
                  data-capture-ids="@AllCaptureIds"
                  data-property-name="@propertyName">
                @propCapturePart.Text
            </span>
            break;
    }
}

@code {
    [Parameter, EditorRequired]
    public TokenSegmentLeaf Leaf { get; set; } = default!;

    [Parameter, EditorRequired]
    public string AllCaptureIds { get; set; } = default!;
}