<div class="card-capture-block">
    <h3>@CardAnalysis.Card.Name</h3>
    <pre class="full-original-text">@CardAnalysis.Card.Text</pre>

    @foreach (var capturedLine in CardAnalysis.CapturedLines)
    {
        <div class="line-capture-block" @key=@(CardAnalysis.Card.Name + capturedLine.LineIndex)>
            <h5 class="line-label">Line #@(capturedLine.LineIndex + 1)</h5>

            <pre class="line-text">
                @foreach (var token in capturedLine.Tokens)
                {
                <NestedTokenSpan PositionalToken=@token @key=@token.CaptureId />
                    @(" ")
                }
                            </pre>

            @foreach (var token in capturedLine.Tokens.Where(x => !x.IgnoreInAnalysis))
            {
                <EffectDetailsBlock PositionalToken=@token @key=@token.CaptureId />
            }
        </div>
    }
</div>

@code {

    [Parameter]
    public AnalyzedCard CardAnalysis { get; set; }

}
