@inject AggregateCardAnalysis Analysis

<div class="effect-details-block match-boundary">
    <PropertyCaptureTable PositionalToken=@PositionalToken />
</div>

@code {

    [Parameter, EditorRequired]
    public PositionalToken PositionalToken { get; set; } = default!;

}