@inject AggregateCardAnalysis Analysis

<div class="effect-details-block" data-capture-id=@PositionalToken.CaptureId>
    <h5 style=@($"color: {_colorHex}; --highlight-color: {Analysis.TypeColors[PositionalToken.Token.Type]}; padding-left: 16px;")>@PositionalToken.Token.Type.Name</h5>
    <TokenUnitDetails PositionalToken=@PositionalToken />
</div>

@code {
    string _colorHex => Analysis.TypeColors[PositionalToken.Token.Type];

    [Parameter, EditorRequired]
    public PositionalToken PositionalToken { get; set; } = default!;
}