@inject TokenTester Tester

@if (Token.GetType().GetCustomAttribute<IgnoreInAnalysisAttribute>() is null)
{
    string colorHex = Tester.ToHex(Tester.GetTypeColor(Token.GetType()));
    <div class="effect-details-block" data-capture-id="@CaptureId">
        <h5 style="color: @colorHex;">@Token.GetType().Name</h5>
        <TokenUnitDetails Instance="Token" CaptureId="@CaptureId" PropertyColorMap="PropertyColorMap" />
    </div>
}

@code {
    [Parameter, EditorRequired]
    public ITokenUnit Token { get; set; } = default!;

    [Parameter, EditorRequired]
    public string CaptureId { get; set; } = default!;

    [Parameter, EditorRequired]
    public IReadOnlyDictionary<string, string> PropertyColorMap { get; set; } = default!;
}