@inject AggregateCardAnalysis Analysis

@if (Token.GetType().GetCustomAttribute<IgnoreInAnalysisAttribute>() is null)
{
    string colorHex = Analysis.TypeColors[Token.Type];
    <div class="effect-details-block" data-capture-id=@CaptureId>
        <h5 style=@($"color: {colorHex}; padding-left: 16px;")>@Token.Type.Name</h5>
        <TokenUnitDetails Instance=@Token CaptureId=@CaptureId />
    </div>
}

@code {
    [Parameter, EditorRequired]
    public TokenUnit Token { get; set; } = default!;

    [Parameter, EditorRequired]
    public string CaptureId { get; set; } = default!;
}