@inject AggregateCardAnalysis Analysis

<div class="effect-details-block" data-path=@PositionalToken.Path>
    <h5 data-path=@PositionalToken.Path style =@cssProperties.ToInlineStyle()>@PositionalToken.Token.Type.Name</h5>
    <TokenUnitDetails PositionalToken=@PositionalToken />
</div>

@code {
    Dictionary<string, string> cssProperties => new()
    {
        ["color"] = PositionalToken.Palette.Hex,
        ["--highlight-color:"] = PositionalToken.Palette.Hex,
        ["padding-left"] = "16px",
        ["border-bottom"] = $"1px solid {PositionalToken.Palette.HexDark}"
    };

    [Parameter, EditorRequired]
    public PositionalToken PositionalToken { get; set; } = default!;

}