@inject AggregateCardAnalysis Analysis

@if (PositionalToken.IgnoreInAnalysis)
{
    @PositionalToken.Token.MatchSpan.ToStringValue()
}
else
{
    var deepestLevel = PositionalToken.Token.GetDeepestChildLevel();
    var color = Analysis.TypeColors[PositionalToken.Token.Type];

    <span class="nested-underline" style=@($"--underline-color: {color};") data-capture-ids="@AllCaptureIds">
        @foreach (var segment in PositionalToken.Segments)
        {
            @switch (segment)
            {
                case TokenSegmentLeaf tokenSegmentLeaf:
                    <CaptureLeaf 
                        Leaf=@tokenSegmentLeaf
                        ImmediateParentToken=@PositionalToken         
                        AllCaptureIds=@AllCaptureIds />
                    break;

                case TokenSegmentBranch tokenSegmentBranch:
                    <NestedTokenSpan 
                        PositionalToken=@tokenSegmentBranch.ChildToken
                        AncestorIds=@AllCaptureIds />
                    break;
            }
        }
    </span>
}

@code {
    [Parameter, EditorRequired]
    public PositionalToken PositionalToken { get; set; } = default!;

    [Parameter]
    public string AncestorIds { get; set; } = "";

    private string AllCaptureIds => $"{AncestorIds} {PositionalToken.CaptureId}".Trim();
}