@if (Span.IgnoreInAnalysis)
{
    <span class="analysis-ignored-span">
        @Span.TokenSpan.ToStringValue()
    </span>
}
else
{
    <span class="nested-underline" style=@Span.Palette.ToColorStyle() data-path=@Span.Path>
        @for (int i = 0; i < Span.Children.Count; i++)
        {
            var childSpan = Span.Children[i];

            @if (childSpan is NestedSpanBranch branch)
            {
                <NestedSpanRecursive Span=@branch />
            }
            else if (childSpan is NestedSpanTerminal terminal)
            {
                if (terminal is NestedSpanLeaf leaf)
                {
                    <LeafSpan Leaf=@leaf />
                }
                else if (terminal is NestedSpanTwig twig)
                {
                    <span class="twig">
                        @twig.Text
                    </span>
                }
            }
        }
    </span>
}


@code {

    [Parameter, EditorRequired]
    public NestedSpanBranch Span { get; set; } = default!;

    [Parameter]
    public string AncestorIds { get; set; } = "";
}