<span class="pill" style=@($"background-color: {Color}")>
    @Text
    <button type="button" class="delete-pill" @onclick="OnDeleteClick">×</button>
</span>

@code {
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string Color { get; set; }

    [Parameter]
    public EventCallback OnDelete { get; set; }

    private async Task OnDeleteClick()
    {
        await OnDelete.InvokeAsync();
    }
}