@using MTGPlexer.TokenAnalysis.ColorCoding
<div class="card-header">
    <TokenTypeName TokenType=@TokenType />
    <span class="match-count @(Count == 0 ? "zero" : "")">
        <i class="matches-label">matches:</i> @Count
    </span>
</div>
<pre style=@_palette.ToColorStyle()><code>@_regexString</code></pre>

@code {
    string _regexString;
    DeterministicPalette _palette;

    [Parameter, EditorRequired]
    public Type TokenType { get; set; }

    [Parameter, EditorRequired]
    public int Count { get; set; }

    protected override void OnInitialized()
    {
        _regexString = TokenTypeRegistry.Templates[TokenType].RenderedRegexString;
        _palette = TokenTypeRegistry.Palettes[TokenType];
    }
}