.type-card {
    width: 50%;
    background-color: #252525;
    border-radius: 8px;
    border: 1px solid #333;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.match-count {
    font-size: 1.2em;
    font-weight: bold;
}

.match-count.zero {
    color: #9a3c3c;
}

.matches-label {
    font-size: .8em;
    font-style: italic;
    color: var(--subtext-grey);
    font-weight: normal;
}

pre {
    background-color: var(--dark-grey);
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid var(--lowlight-color, var(--outline-grey));
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-left: 12px;
    margin-right: 12px;
}