.formatted-regex-fira {
    font-family: 'Fira Code', monospace;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.25;
    white-space: pre;
}

    .formatted-regex-fira.highlight-active {
        background-color: var(--near-black);
    }

    .formatted-regex-fira:hover {
        background-color: var(--near-black);
    }

pre {
    background-color: var(--dark-grey);
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid var(--lowlight-color, var(--outline-grey));
    white-space: pre;
    word-wrap: break-word;
    font-family: 'Fira Code', monospace;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    transition: background-color var(--transition-time);
}

/* --- Span Styling --- */
pre.formatted-regex-fira code span {
    transition: color var(--transition-time), background-color 0.1s;
}

/* Highlight/Lowlight Treatments */
span[highlight-active] {
    color: var(--hex-hi) !important;
}

span[lowlight-active] {
    color: var(--hex-lo) !important;
}