@inherits LayoutComponentBase
@inject RuntimeSettings RuntimeSettings
@inject NavigationManager Navigation

<div class="page">
    <nav class="top-row px-4">
        <a class="navbar-brand" href="">MTG Analysis</a>
        
        @if (Navigation.ToBaseRelativePath(Navigation.Uri) == "" || Navigation.ToBaseRelativePath(Navigation.Uri) == "card-analysis")
        {
            <Switch @bind-Value=@RuntimeSettings.HideFullyMatchedCards Label="Hide fully matched" />
        }
        else if (Navigation.ToBaseRelativePath(Navigation.Uri) == "span-trees")
        {
            <IntInput @bind-Value=RuntimeSettings.MinSpanOccurences Color="var(--dark-teal)" Label="Min occurr." />
            <IntInput @bind-Value=RuntimeSettings.MinSpanWords Color="var(--dark-gold)" Label="Min words" />
            <Switch @bind-Value=@RuntimeSettings.OrderByWordCount Label="Order by word count" />
        }

        &nbsp;
        &nbsp;

        <NavLink href="/">Card Analysis</NavLink>
        <NavLink href="type-expressions">Type Expressions</NavLink>
        <NavLink href="span-trees">Unmatched Spans</NavLink>
    </nav>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
