@inherits LayoutComponentBase
@inject RuntimeSettings RuntimeSettings

<MudThemeProvider />
<MudPopoverProvider />
<MudSnackbarProvider />

<MudDialogProvider FullWidth=true
                   MaxWidth=MaxWidth.ExtraSmall
                   CloseButton=true
                   BackdropClick=false
                   NoHeader=true
                   Position=DialogPosition.Center
                   CloseOnEscapeKey=true
                   BackgroundClass="blurry-background"/>

<div class="page">
    <nav class="top-row px-4">
        <a class="navbar-brand" href="">MTG Analysis</a>

        <NavLink class="nav-link" href="variable-analysis">
            <span class="oi oi-beaker" aria-hidden="true"></span> Capture
        </NavLink>

        <MudSwitch @bind-Value=@RuntimeSettings.HideFullyMatchedCards Color=Color.Primary UncheckedColor=Color.Surface Label="Hide fully matched cards" />
    </nav>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>