@inherits LayoutComponentBase
@inject RuntimeSettings RuntimeSettings

<div class="page">
    <nav class="top-row px-4">
        <a class="navbar-brand" href="">MTG Analysis</a>


    </nav>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>