<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MTG Analysis</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="type-key" Match="NavLinkMatch.All">
                <span class="oi oi-key" aria-hidden="true"></span> Type Key
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="card-coverage">
                <span class="oi oi-pie-chart" aria-hidden="true"></span> Card Coverage
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="unmatched-spans">
                <span class="oi oi-warning" aria-hidden="true"></span> Unmatched Spans
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="variable-capture">
                <span class="oi oi-beaker" aria-hidden="true"></span> Variable Capture
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
