@page "/"
@page "/variable-capture"
@inject AggregateCardAnalysis Analysis
@inject IJSRuntime JSRuntime

<body class="page-variable-capture">
    <h1>Card Variable Capture</h1>

    <div id="main-content">
        @foreach (var analyzedCard in Analysis.AnalyzedCards)
        {
            <CardCaptureBlock CardAnalysis=analyzedCard />
        }
    </div>
</body>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JSRuntime.InvokeVoidAsync("initCardCaptureHover");
    }
}