@page "/"
@page "/card-analysis"
@inject IJSRuntime JSRuntime
@inject CorpusAnalyzer CorpusAnalyzer
@inject RuntimeSettings RuntimeSettings
@implements IDisposable

<body id="card-analysis">
    @foreach (var card in GetFilteredCards())
    {
        <CardBlock Card=card />
    }
</body>

@code {

    protected override void OnInitialized()
    {
        RuntimeSettings.OnChanged += StateHasChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JSRuntime.InvokeVoidAsync("initCardCaptureHover");
    }

    IEnumerable<ProcessedCard> GetFilteredCards()
    {
        if (RuntimeSettings.HideFullyMatchedCards)
            return CorpusAnalyzer.ProcessedCards.Where(x => !x.IsFullyMatched);

        return CorpusAnalyzer.ProcessedCards;
    }

    public void Dispose()
    {
        RuntimeSettings.OnChanged -= StateHasChanged;
    }
}