@page "/"
@page "/variable-analysis"
@inject IJSRuntime JSRuntime
@inject CardDigester CardDigester

<body class="page-variable-capture">
    <div id="main-content">
        @foreach (var cardDigest in CardDigester.DigestedCards)
        {
            <CardVariableBlock CardDigest=cardDigest />
        }
    </div>
</body>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JSRuntime.InvokeVoidAsync("initCardCaptureHover");
    }
}