@page "/"
@page "/variable-analysis"
@inject AggregateCardAnalysis Analysis
@inject IJSRuntime JSRuntime

<body class="page-variable-capture">
    <h1>Card Variable Capture</h1>

    <div id="main-content">
        @foreach (var cardDigest in Analysis.DigestedCards)
        {
            <CardVariableBlock CardDigest=cardDigest />
        }
    </div>
</body>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JSRuntime.InvokeVoidAsync("initCardCaptureHover");
    }
}