@page "/"
@page "/variable-capture"
@inject AggregateCardAnalysis Analysis
@inject IJSRuntime JSRuntime

<body class="page-variable-capture">
    <h1>Card Variable Capture</h1>

    <div id="main-content">
        @foreach (var analyzedCard in Analysis.AnalyzedCards)
        {
            <div class="card-capture-block">
                <h3>@analyzedCard.Card.Name</h3>
                <pre class="full-original-text">@analyzedCard.Card.Text</pre>

                @foreach (var capturedLine in analyzedCard.CapturedLines)
                {
                    <div class="line-capture-block" @key=@(analyzedCard.Card.Name + capturedLine.LineIndex)>
                        <h5 class="line-label">Line #@(capturedLine.LineIndex + 1)</h5>

                        <pre class="line-text">
                            @foreach (var token in capturedLine.Tokens)
                            {
                                <NestedTokenSpan PositionalToken=@token @key=@token.CaptureId />
                                @(" ")
                            }
                        </pre>

                        @foreach (var token in capturedLine.Tokens)
                        {
                            <EffectVariables PositionalToken=@token @key=@token.CaptureId />
                        }
                    </div>
                }
            </div>
        }
    </div>
</body>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JSRuntime.InvokeVoidAsync("initCardCaptureHover");
    }
}