@page "/type-key"
@inject AggregateCardAnalysis Analysis

<h1>Token Type Key & Regex Analysis</h1>

@foreach (var type in TokenTypeRegistry.AppliedOrderTypes)
{
    if (!Analysis.TokenCaptureCounts.ContainsKey(type)) continue;

    <TypeCard Type=@type
              Count=@Analysis.TokenCaptureCounts[type]
              ColorHex=@(TokenTypeRegistry.TypeColorPalettes[type].Hex)
              RenderedRegex=@TokenTypeRegistry.TokenTemplates[type].RenderedRegexString />
}
