@page "/type-expressions"
@inject CorpusAnalyzer CorpusAnalyzer

<div class="type-card-container">
    @foreach (var item in _appliedOrderTypeCounts)
    {
        <TypeCard TokenType=@item.Key Count=@item.Value />
    }
</div>

@code{

    Dictionary<Type, int> _appliedOrderTypeCounts = [];

    protected override void OnInitialized()
    {
        foreach (var type in TokenTypeRegistry.AppliedOrderTypes)
            _appliedOrderTypeCounts[type] = CorpusAnalyzer.GlobalTokenCounts.TryGetValue(type, out int count) ? count : 0;
    }

}