@page "/type-key"
@inject AggregateCardAnalysis Analysis
@inject CardTextAnalyzer Analyzer

<h1>Token Type Key & Regex Analysis</h1>

@foreach (var type in TokenClassRegistry.AppliedOrderTypes)
{
    if (!Analysis.TokenCaptureCounts.ContainsKey(type)) continue;

    <TypeCard Type="type"
              Count="Analysis.TokenCaptureCounts[type]"
              ColorHex=@(Analyzer.ToHex(Analyzer.TypeColors[type]))
              RenderedRegex=@TokenClassRegistry.TypeRegexTemplates[type].RenderedRegexString />
}
