@page "/unmatched-spans"
@inject RuntimeSettings RuntimeSettings
@inject CorpusAnalyzer CorpusAnalyzer
@implements IDisposable

@if (!CorpusAnalyzer.AnalyzedUnmatchedSpans.Any())
{
    <p>No unmatched spans found.</p>
}
else
{
    @foreach (var span in GetFilteredUnmatchedSpans())
    {
        <UnmatchedSpanCard SpanData=@span />
    }
}

@code {

    protected override void OnInitialized()
    {
        RuntimeSettings.OnChanged += StateHasChanged;
    }

    IEnumerable<AnalyzedUnmatchedSpan> GetFilteredUnmatchedSpans()
    {
        var items = CorpusAnalyzer.AnalyzedUnmatchedSpans
            .Where(x => x.OccurrenceCount >= RuntimeSettings.MinUnmatchedSpanOccurences && x.WordCount >= RuntimeSettings.MinUnmatchedSpanWords);

        if (RuntimeSettings.OrderByWordCount)
            return items.OrderByDescending(x => x.WordCount);
        else
            return items.OrderByDescending(x => x.OccurrenceCount);

    }

    public void Dispose()
    {
        RuntimeSettings.OnChanged -= StateHasChanged;
    }

}